<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="cover">

    <div class="home">

    <div class="intro">
        <div class="home-star">
            <img th:src="@{/img/star.png}" alt="star-img" />
        </div>
        <div class="intro__overlays"></div>
        <div class="intro__left">
            <div class="intro__platform">
                <div class="intro__platform__cover" style="padding: 10px 15px 10px 10px">
                    <span>Plants Shop</span>
                </div>
            </div>
            <div class="title">
                <h1>
                    Grow up your Space By<span> Plants.</span>
                </h1>
            </div>
            <div>
                <div>

                </div>
            </div>
        </div>
        <div class="intro__right">
            <div class="intro__right__img" >
                <img th:src="@{/img/robot1.png}" alt="robot" />
            </div>
        </div>
    </div>
    </div>

<!--        <div class="quality">-->
<!--            <div class="title">-->
<!--                <h1>-->
<!--                    Hight <span>Quality</span> <br/> Video Audio &amp; Live Clasess.-->
<!--                </h1>-->
<!--            </div>-->
<!--            <div class="quality__content" style="padding:0 30px">-->
<!--                <div class="quality__card">-->
<!--                    <div class="card" style="background: transparent">-->
<!--                        <a  href="{`/course/${props.item.id}`}">-->
<!--                        <div class="card__cover">-->
<!--                            <div class="card__top">-->
<!--                                <div class="card__img">-->
<!--                                    <img th:src="@{img/angular.png}" alt="image-of-course">-->
<!--                                </div>-->
<!--                             </div>-->
<!--                                        <div class="card__bottom">-->
<!--                                            <div class=="card__title">-->
<!--                                                <h2>title</h2>-->
<!--                                            </div>-->
<!--                                    <div class=="card__evalute">-->
<!--                                        Review (<span>4.5</span>) <GiRoundStar />-->
<!--                                    </div>-->
<!--                                    <div class=="card__content">Economic | Graphic Design at...</div>-->
<!--                                        </div>-->
<!--                        </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="card" style="background: transparent">-->
<!--                        <a  href="{`/course/${props.item.id}`}">-->
<!--                            <div class="card__cover">-->
<!--                                <div class="card__top">-->
<!--                                    <div class="card__img">-->
<!--                                        <img th:src="@{img/angular.png}" alt="image-of-course">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card__bottom">-->
<!--                                    <div class=="card__title">-->
<!--                                        <h2>title</h2>-->
<!--                                    </div>-->
<!--                                    <div class=="card__evalute">-->
<!--                                        Review (<span>4.5</span>) <GiRoundStar />-->
<!--                                    </div>-->
<!--                                    <div class=="card__content">Economic | Graphic Design at...</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="card" style="background: transparent">-->
<!--                        <a  href="{`/course/${props.item.id}`}">-->
<!--                            <div class="card__cover">-->
<!--                                <div class="card__top">-->
<!--                                    <div class="card__img">-->
<!--                                        <img th:src="@{img/angular.png}" alt="image-of-course">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card__bottom">-->
<!--                                    <div class=="card__title">-->
<!--                                        <h2>title</h2>-->
<!--                                    </div>-->
<!--                                    <div class=="card__evalute">-->
<!--                                        Review (<span>4.5</span>) <GiRoundStar />-->
<!--                                    </div>-->
<!--                                    <div class=="card__content">Economic | Graphic Design at...</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="card" style="background: transparent">-->
<!--                        <a  href="{`/course/${props.item.id}`}">-->
<!--                            <div class="card__cover">-->
<!--                                <div class="card__top">-->
<!--                                    <div class="card__img">-->
<!--                                        <img th:src="@{img/angular.png}" alt="image-of-course">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card__bottom">-->
<!--                                    <div class=="card__title">-->
<!--                                        <h2>title</h2>-->
<!--                                    </div>-->
<!--                                    <div class=="card__evalute">-->
<!--                                        Review (<span>4.5</span>) <GiRoundStar />-->
<!--                                    </div>-->
<!--                                    <div class=="card__content">Economic | Graphic Design at...</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--            <div class="quality__button">-->
<!--                <a href="/courses">-->
<!--                    <button>-->
<!--                        Start Learning-->
<!--                    </button>-->
<!--                    <PlayButton/>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->


    </div>
</div>
</body>
</html>